:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: url('/images/stars.jpg');

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color:  rgb(255, 208, 0);
  transform: scale(1.20); 
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.navbar{
  font-family: 'StarJediHollow', sans-serif;
  font-size: 18px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 10px 10px;
  padding-bottom: 10px;
  padding-top: 10px;
 /*  background-image: url('/images/stars.jpg'); */
}

.navBtn{
  padding: 10px;
}

#adminBtn{
  align-self: flex-end;
}

.adminItem{
  background-image: url('/images/stars.jpg');
}

.container{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
  background-color: rgb(255, 208, 0);
}

.item{
  position: relative;
  max-width: 400px;
  height: 400px;
}

.itemImage {
  width: 100%; /* Adjust the width as per your requirement */
  height: 100%; /* Ensures the image fills the container height */
  object-fit: cover;
}

.itemText {
  position: absolute;
  bottom: 15px; /* Adjust top position as needed */
  right: 10px; /* Adjust left position as needed */
  color: white; /* Adjust text color as needed */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background color for better readability */
  padding: 10px; /* Adjust padding as needed */
}

.loading{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dropDown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropDownContent {
  display: none;
  position: absolute;
  background-color: rgb(255, 208, 0);
  color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Show the dropdown menu on hover */
.dropDown:hover .dropDownContent {display: block;}

@font-face {
  font-family: 'StarJediHollow';
  src: url('Starjedi.ttf') format('truetype');
}

.mapDiv {
  background: fixed;
}

.character {
  height: 300px;
  position: relative;
  left: 1;
  top: 0;
}